:root {
  --color-primary-1: #901c1c;
  --color-primary-2: #d3573c;

  --color-secondary: #525252;

  --color-foundation-1: #db8876;
  --color-foundation-2: #fafafa;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
}
button {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
}

h1 {
  color: var(--color-primary-1);
  margin: 0;
}

h2 {
  margin: 0;
}

p,
figure {
  margin: 0;
}

.field-group:not(:last-child) {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  color: #312E2E;
}

.field-group label {
  margin-bottom: 2px;
}

.field {
  border: none;
  padding: 9px;
  border-radius: 5px;
}

.textarea-field {
  height: 75px;
}

.main-button {
  color: white;
  background-color: var(--color-primary-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
