#photographer {
  margin-top: 10px;
}

.photographer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
}

.photographer-info-wrapper {
  display: flex;
  flex-direction: column;
}

.photographer-location {
  font-size: 1rem;
}

.photographer-name {
  font-size: 2rem;
}

.photographer-data {
  flex: 1;
  justify-content: space-between;
}

.photographer-portrait {
  --portrait-size: 95px;
  width: var(--portrait-size);
  height: var(--portrait-size);
  flex-shrink: 0;
  align-self: center;
}

.photographer-tagline {
  color: #757575;
  font-size: 0.9rem;
}

.tag-list {
  justify-content: flex-start;
}
.tag {
  font-size: 0.9rem;
}

#media {
  margin-top: 55px;
  margin-bottom: 75px;
}

.contact-button-wrapper {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-button {
  border: none;
  background-color: var(--color-primary-1);
  color: white;
  padding: 5px 18px;
  border-radius: 5px;
  font-size: 1rem;
}

.home-link {
  margin-left: 0;
}

.sort-media-container {
  font-weight: bold;
  display: none;
}

#sort-media {
  background-color: var(--color-primary-1);
  color: white;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 5px;
}

@media screen and (min-width: 550px) {
  #media {
    display: flex;
    flex-wrap: wrap;
    gap: 95px;
    justify-content: space-around;
  }

  .medium {
    width: 350px;
    height: 300px;
  }
}

@media screen and (min-width: 750px) {
  #app {
    padding: 0 100px;
  }

  #photographer {
    background-color: var(--color-foundation-2);
    border-radius: 5px;
    padding: 25px;
  }

  .contact-button-wrapper {
    position: static;
    margin-right: auto;
    width: auto;
    align-self: flex-start;
    margin-top: 10px;
    flex-shrink: 0;
  }

  .contact-button {
    height: 45px;
  }

  .photographer-portrait {
    --portrait-size: 140px;
  }

  .tag {
    font-size: 1rem;
  }

  .sort-media-container {
    display: initial;
  }
}
@media screen and (min-width: 1100px) {
  .photographer-portrait {
    --portrait-size: 180px;
  }

  #media {
    justify-content: center;
  }
}
