
#contact-form-modal {
  background-color: var(--color-foundation-1);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title close"
    "form form";
  gap: 25px;
  align-items: flex-start;
}

#contact-form-title {
  grid-area: title;
  font-weight: normal;
  font-size: 1.7rem;
}

#contact-form {
  grid-area: form;
}

.close-contact-form-button {
  grid-area: close;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.submit-contact-form-button {
  padding: 10px 22px;
  align-self: flex-start;
}
