.image-container {
  position: relative;
  display: inline-block;
  margin: auto;
}

.low-res-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

.low-res-image.hidden,
.full-res-image.hidden {
  opacity: 0;
}
