#lightbox-modal:focus {
  outline: none;
}

#lightbox-modal {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.lightbox-image {
  border-radius: 5px;
  width: calc(100vw - 150px);
  max-width: 1000px;
  height: calc(100vh - 75px);
  max-height: 800px;
  object-fit: contain;
}

.lightbox-button {
  color: var(--color-primary-1);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 15px;
}
.lightbox-button:hover {
  color: var(--color-primary-2);
}

.lightbox-medium-title {
  color: var(--color-primary-1);
  font-size: 1.2rem;
}

#close-lightbox-button {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  top: var(--modal-content-padding);
  right: var(--modal-content-padding);
}
