@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes disappear {
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  to {
    opacity: 0;
  }
}

.modal-container {
  --modal-animation-duration: 0.3s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4c466;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal-fade-in var(--modal-animation-duration) forwards;
  z-index: 10;
}

.modal-content {
  --modal-content-padding: 25px;
  padding: var(--modal-content-padding);
  border-radius: 5px;
  box-shadow: 0 0 25px -10px black;
  animation: appear var(--modal-animation-duration) forwards;
}

.modal-container.fade {
  animation: modal-fade-out var(--modal-animation-duration) forwards;
}

.modal-content.closing {
  animation: disappear var(--modal-animation-duration) forwards;
}
