.tag-label {
  border: 1px solid #c4c4c4;
  border-radius: 500px;
  padding: 0 5px;
  color: var(--color-primary-1);
  cursor: pointer;
}
.tag-label::before {
  content: "#";
}

.tag-input:focus ~ .tag-label {
  outline: 2px solid var(--color-primary-1);
  outline-offset: 2px;
}

.tag-input:checked ~ .tag-label {
  background-color: var(--color-primary-1);
  border-color: var(--color-primary-1);
  color: white;
}
