.tag {
  border: 1px solid #c4c4c4;
  border-radius: 500px;
  padding: 0 5px;
  color: var(--color-primary-1);
  cursor: pointer;
  text-decoration: none;
}
.tag::before {
  content: "#";
}

.tag.selected {
  background-color: var(--color-primary-1);
  border-color: var(--color-primary-1);
  color: white;
}
